/*项目定制的样式 根据ui制定的组件规范定制样式*/
.mr-12 {
  margin-right: 12px;
}

/*placeholder*/
:-moz-placeholder {
  color: #BBBBBB;
  opacity: 1;
  font-weight: 200;
}

::-moz-placeholder {
  color: #BBBBBB;
  opacity: 1;
  font-weight: 200;
}

input:-ms-input-placeholder {
  color: #BBBBBB;
  opacity: 1;
  font-weight: 200;
}

input::-webkit-input-placeholder {
  color: #BBBBBB;
  opacity: 1;
  font-weight: 200;
}

textarea::-webkit-input-placeholder {
  color: #BBBBBB;
  opacity: 1;
  font-weight: 200;
}

.border-right {
  border-right: 1px solid #e9ecf1;
}

/* 字体颜色 */
.c0{
  color: #000000 !important;
}
.c1{
  color:#597EF7 !important;
}
.c5{
  color:#555 !important;
}
.c8{
  color:#888 !important;
}
.c6{
  color:#F64C4C !important;
}
.fc-black85 {
  background: rgba(0, 0, 0, .85);
}

.fc-black65 {
  color: rgba(0, 0, 0, .65);
}

.fc-black45 {
  color: rgba(0, 0, 0, .45);
}

.fc-f87e4e {
  color: #f87e4e
}

.fc-34c094 {
  color: #34c094
}

.fc-fff {
  color: #fff;
}

.fc-657379 {
  color: #657379;
}

.fc-a0b0b7 {
  color: #a0b0b7
}

.fc-818f94 {
  color: #818f94;
}

.fc-ea5950 {
  color: #ea5950;
}

.fc-3cbaff {
  color: #3cbaff;
}
.fc-3DBAFF {
  color: #3DBAFF;
}
.fc-222222 {
  color: #222222;
}

.fc-000000 {
  color: #000000;
}
.fc-F35959 {
  color: #F35959;
}
.fc-BCC2D1 {
  color: #BCC2D1;
}
.fc-A0B0B7 {
  color: #A0B0B7;
}
.fc-888888 {
  color: #888888;
}
.fc-BBBBBB{
  color: #bbbbbb;
}
.fc-5A5E66 {
  color: #5A5E66;
}
.fc-878D99 {
  color: #878D99;
}
.fc-2D2F33 {
  color: #2D2F33;
}
.fc-#5A5E66 {
  color: #5A5E66;
}
.fc-F5A623 {
  color: #F5A623;
}
.fc-555555 {
  color: #555555;
}
.fc-cccccc {
  color: #CCCCCC;
}
.fc-1890FF {
  color: #1890FF;
}

.fc-F64C4C {
  color: #F64C4C;
}
.fw-b {
  font-weight: bold;
}
/* 字体大小 */
.fs-12 {
  font-size: 12px;
}
.fs-10 {
  font-size: 10px;
}
.fs-20 {
  font-size: 20px;
}
.fs-6 {
  font-size: 6px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}


/* 背景颜色 */
.bc-5dc663 {
  background-color: #5dc663;
}
.bc-D3DCE3 {
  background-color: #D3DCE3;
}

.bc-3cbaff {
  background-color: #3cbaff;
}
.bc-F2F2F6 {
  background-color: #F2F2F6;
}
.bc-1890FF {
  background-color: #1890FF;
}

.bc-fda32b {
  background-color: #fda32b;
}

.bc-ea5950 {
  background-color: #ea5950;
}

/* 剩余滚动条样式 */
::-webkit-scrollbar-track-piece {
  width: 8px;
  background-color: rgba(255, 255, 255, 1);
}

  /* 整体样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
/* 滑块部分 */
::-webkit-scrollbar-thumb {
  height: 20px;
  background: rgba(37, 36, 36, 0.4);
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(37, 36, 36, 0.57);
}
