$gray:#CCCCCC;
$blue: #466ef0;
$grayBg: #f5f5f5;
// margin-X

@for $i from 0 through 100 {
  .mt#{$i}{
    margin-top: #{$i}px
  }
  .mb#{$i}{
    margin-bottom:#{$i}px
  }
  .mr#{$i}{
    margin-right:#{$i}px
  }
  .ml#{$i}{
    margin-left:#{$i}px
  }
}

@for $i from 0 through 100{
  .pt#{$i}{
    padding-top: #{$i}px
  }
  .pr#{$i}{
    padding-right: #{$i}px
  }
  .pb#{$i}{
    padding-bottom: #{$i}px
  }
  .pl#{$i}{
    padding-left: #{$i}px
  }
}

.rtopsearch{
  width:240px;
}
.h100{
  height: 100%;
}

// 去掉弹窗title部分多余padding
.manage-dialog{
  .manage-dialog {
    .el-dialog__body {
      padding-top: 0;
    }
  }
}

// 管理控制台,靠右弹窗的样式
.manage-dialog__right-position {
  .el-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 !important;
    .el-dialog__body {
      height: 100%;
      padding-bottom: 0;
      .el-form {
        // border: 1px solid red;
        height: calc(100% - 111px);
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
      .el-textarea {
        textarea {
          height: 120px;
        }
      }
    }
  }
  .manage-dialog__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid rgba(238, 238, 238, 1);
    padding-right: 16px;
  }
}

// 蓝色14号字体
.platform-params__blue-value {
  height: 22px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: $blue;
  line-height: 22px;
}

// 手型鼠标
.pointer{
  cursor:pointer;
}

// 分割线
.line {
  color: $gray;
}
.fr{
  float:right;
}
// 右侧搜索框
.control-bar__right {
  width: 240px;
  @extend .fr;
}

// 白色背景
.white_bg {
  background: white;
}

// 底部页面
.platform-footer {
  position: absolute;
  right: 0;
  bottom: 0;
}

// 清除浮动
.clear{
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}
// 黑粗体字
.black-bold-font {
  height: 24px;
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  line-height: 24px;
}

// 黑细体字
.black-normal-font {
  height: 22px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  line-height: 22px;
}

// 灰色小字
.gray-font{
  height: 22px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
  line-height: 22px;
}